<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">MicroK8s UI</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

<div class="container">
  <p *ngIf="showErrorMessage">
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> {{errorMessage}}
    </ngb-alert>
  </p>
  <div class="row">
    <div class="col-sm">
      <div class="card" >
        <div class="card-header">
          Using {{countryUrl}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let data of countryList; index as i">Code: {{ data.code }}, Country Name : {{ data.name }}</li>
          <li class="list-group-item " *ngIf="!countryList || countryList.length<=0"><div class="alert alert-danger">No data found</div></li>
        </ul>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          Using {{portUrl}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let data of portList; index as i">Code: {{ data.code }}, Port Name : {{ data.name }}</li>
          <li class="list-group-item alert alert-danger" *ngIf="!portList || portList.length<=0"><div class="alert alert-danger">No data found</div></li>
        </ul>
      </div>
    </div>
  </div>
  
  
</div>
