@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcomes</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@using (Html.BeginForm(FormMethod.Post))
{

@if(!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["Message"])))
{
<div class="alert alert-primary" role="alert">
    @ViewData["Message"]
</div>
}
<div class="form-group">
    <label for="name">Country Id</label>
    <input type="number" class="form-control" id="id" name="id">
</div>
<div class="form-group">
    <label for="code">Country Code</label>
    <input type="text" class="form-control" name="code" id="code"  maxlength="2">
</div>
<div class="form-group">
    <label for="name">Country Name</label>
    <input type="text" class="form-control" name="name" id="name">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
}